.venv/
venv/
.runtime/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.env
.python-version
.hf_cache/
models/
outputs/
uploads/
*.mp4
*.wav
*.safetensors
.ipynb_checkpoints/
.DS_Store
.ruff_cache/
.pytest_cache/
.mypy_cache/
hf_home/
wandb/
